<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Give Life  Predict Blood Donation</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Recency:
        <input name="recency" type="number" required>
        <br>
        <br> Frequency:
        <input name="freqeuncy" type="number" required>
        <br>
        <br> Moneytary:
        <input name="monetary" type="number" required>
        <br>
        <br> Time:
        <input name="time" type="number" required>

        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Whethet the blood is donated:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</html>
